{% extends 'layout.html.twig' %}

{% block body %}
        <div class="row">
            <div id="manual-match" class="col-lg-8">

            </div>
        </div>
{% endblock body %}

{% block jscontroller %}
    <script type="application/javascript">
        $(document).ready(function() {
            var controller = new ManualMatch();
        });
    </script>
{% endblock %}