{% for player in players %}
    <option data-hash="{{ player.hash }}" value="{{ player.id }}" <% if (match && match.blueTeam.forward == {{ player.id }}) { %>selected<% } %>>{{ player.name }}</option>
{% endfor %}
