{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            <h4>Top 10 Teams</h4>
            <table class="match-table1" data-toggle="table"
                   data-url="/api/statistics/team" data-side-pagination="server"
                   data-sort-name="wins"
                   data-sort-order="desc">
                <thead>
                <tr>
                    <th data-field="goalkeeper">Goalkeeper</th>
                    <th data-field="forward">Forward</th>
                    <th data-field="wins" data-sortable="true">Wins</th>
                    <th data-field="matches" data-sortable="true">Matches</th>
                    <th data-field="win_percent" data-sortable="true">%</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-lg-6">
            <h4>Top 10 Players</h4>
            <table class="match-table1" data-toggle="table"
                   data-url="/api/statistics/player" data-side-pagination="server"
                   data-sort-name="wins"
                   data-sort-order="desc">
                <thead>
                <tr>
                    <th data-field="goalkeeper">Goalkeeper</th>
                    <th data-field="forward">Forward</th>
                    <th data-field="wins" data-sortable="true">Wins</th>
                    <th data-field="matches" data-sortable="true">Matches</th>
                    <th data-field="win_percent" data-sortable="true">%</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock body %}