{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-3">
            <h4>Best1</h4>
            <table class="table table-bordered table-hover match-table">
                <tr class="active">
                    <th>Name</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>Test 1</td>
                    <td>1</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-3">
            <h4>Best2</h4>
            <table class="table table-bordered table-hover match-table">
                <tr class="active">
                    <th>Name</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>Test 2</td>
                    <td>2</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-3">
            <h4>Best3</h4>
            <table class="table table-bordered table-hover match-table">
                <tr class="active">
                    <th>Name</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>Test 3</td>
                    <td>3</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-3">
            <h4>Best4</h4>
            <table class="table table-bordered table-hover match-table">
                <tr class="active">
                    <th>Name</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>Test 4</td>
                    <td>4</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock body %}