{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h4>Top 10 Players (Rating calculated accordingly <a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B5%D0%B9%D1%82%D0%B8%D0%BD%D0%B3_%D0%AD%D0%BB%D0%BE#.D0.92.D1.8B.D1.87.D0.B8.D1.81.D0.BB.D0.B5.D0.BD.D0.B8.D0.B5_.D1.80.D0.B5.D0.B9.D1.82.D0.B8.D0.BD.D0.B3.D0.B0_.D0.AD.D0.BB.D0.BE">Elo Rating</a>)</h4>
            <table data-toggle="table"
                   data-url="/api/statistics/player" data-side-pagination="server"
                   data-sort-name="rating"
                   data-sort-order="desc">
                <thead>
                <tr>
                    <th data-field="player">Player</th>
                    <th data-field="goals" data-sortable="true">Goals Scored</th>
                    <th data-field="avg_goals" data-sortable="true">Avg GS</th>
                    <th data-field="passed_goals" data-sortable="true">Goals Conceded</th>
                    <th data-field="avg_passed_goals" data-sortable="true">Avg GC</th>
                    <th data-field="wins" data-sortable="true">Wins</th>
                    <th data-field="matches" data-sortable="true">Matches</th>
                    <th data-field="win_percent" data-sortable="true">%</th>
                    <th data-field="rating" data-sortable="true">Rating</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-6">
            <h4>Top 10 Teams</h4>
            <table data-toggle="table"
                   data-url="/api/statistics/team" data-side-pagination="server"
                   data-sort-name="win_percent"
                   data-sort-order="desc">
                <thead>
                <tr>
                    <th data-field="goalkeeper">Goalkeeper</th>
                    <th data-field="forward">Forward</th>
                    <th data-field="wins" data-sortable="true">Wins</th>
                    <th data-field="matches" data-sortable="true">Matches</th>
                    <th data-field="win_percent" data-sortable="true">%</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-lg-3">
            <h4>Best Goalkeeper</h4>
            <table data-toggle="table"
                   data-url="/api/statistics/player" data-side-pagination="server"
                   data-sort-name="avg_passed_goals"
                   data-sort-order="asc">
                <thead>
                <tr>
                    <th data-field="player">Player</th>
                    <th data-field="passed_goals">GC</th>
                    <th data-field="avg_passed_goals">Avg GC</th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="col-lg-3">
            <h4>Best Forward</h4>
            <table data-toggle="table"
                   data-url="/api/statistics/player" data-side-pagination="server"
                   data-sort-name="avg_goals"
                   data-sort-order="desc">
                <thead>
                <tr>
                    <th data-field="player">Player</th>
                    <th data-field="goals">GS</th>
                    <th data-field="avg_goals">Avg GS</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-8">
            <h4>Rating Flow</h4>
            <div class="rating-flow"></div>
        </div>
        <br/>
        <br/>
        <div class="col-lg-4">
            <h4>Best Team Color</h4>
            <table data-toggle="table"
                   data-url="/api/statistics/color" data-side-pagination="server"
                   data-sort-name="win_percent"
                   data-sort-order="desc">
                <thead>
                <tr>
                    <th data-field="color">Color</th>
                    <th data-field="wins">Wins</th>
                    <th data-field="matches">Matches</th>
                    <th data-field="win_percent" data-sortable="true">%</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
{% endblock body %}

{% block jscontroller %}
    <script type="application/javascript">
        $(document).ready(function() {
            var controller = new StatisticsController();
        });
    </script>
{% endblock %}